/*************** Theme CSS *******************/
/*********************************************/

/* Accordions */
/*

ul.accordion{
  padding: 0; margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  li{
    //width: 50%;
  }

  .accordion-header{
    display: block;
    padding: 15px 20px;
    background: #bbb;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    margin-bottom: 5px;
    text-align: center;
  }

  .accordion-content{
    padding: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;

    &:target{
      height: auto;
      padding: 20px;
    }

    form{
      margin: 0 0 20px 0;
      width: 100%;
    }
  }
}
*/
.brand{
  float: left;
  height: 100%;
  width: 70px;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;

    span{
      display: block;
      color: white;
    }
  }
}

.auth-toggler{
  font-size: 0.8rem;

  height: 100%;
  justify-content: space-around;

  label{
    flex: 1 1 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.focus{
      background: #2475a5;
    }
  }
  a{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    float: right;
    &:hover{
      background: #2475a5;
    }
  }

  svg{
    margin: 0 0.5rem;
    width: 1rem;
    height: 1rem;
  }
}



// hide radio inputs for selected slider items
input[type=radio].slider-radio{
  display: none;
  // show item below on checked radio
  &:checked + *{
    display: block;
  }
}



.slider-wrapper{
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.2);
  padding: 1rem 2rem 2rem 2rem;
  background: white;
  // hide all in slider wrapper
  &>*{
    display: none;
  }
}

.res-form{
  width: 100%;
  .res-form-group{
    //padding-top: 2rem;
    display: flex;
    position: relative;

    input{
      color: $fontC;
      width: 100%;
      text-align: left;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,.1);
      display: block;
      height: 2.5rem;
      font-size: 1rem;
      //line-height: 24px;

      &:focus{
        //border: none;
        outline: none;
        //outline-offset: -2px;
      }
    }

    label{
      width: 100%;
      position: absolute;
      left:0;
      bottom: 0.5rem;
      color: rgba(0,0,0,.3);
      transform-origin: bottom left;
      transition: transform .2s ease-in-out;

      &.focus{
        color: #4285f4;
        transform: scale(.75) translateY(-2.5rem);
      }
    }

  }

  &>*{
    display: block;
    margin-top: 2rem;
  }

  button{
    margin-left: auto; margin-right: auto;
    background: $niceBlueColor;
    color: white;
    white-space: nowrap;
    line-height: 20px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    //text-transform: uppercase;
    //min-width: 88px;
    //position: relative;

    &:hover{
      background: #2475a5;
    }
    span{
      margin: 8px 16px;
    }
  }
}

.forgot-link{
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
  margin-top: 1rem;

  &:hover{
    text-decoration: underline;
  }
}

/**/

.wellcome{
  text-align: center;
  font-weight: 100;

  font-size: 2.8rem;
  line-height: 2.8rem;
}

.wellcome-events{
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 100;

  font-size: 1.5rem;
  line-height: 1.5rem;

  .vote-btn{
    background: $niceBlueColor;
    border-radius: 20px;
    margin: 1rem 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    a{
      display: block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      text-align:center;
      text-decoration: none;
      color: white;
      font-weight: 300;

      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 576px) {
  .wellcome{

    font-size: 5rem;
    line-height: 5rem;

    margin-bottom: 2.5rem;
  }

  .wellcome-events{

    font-size: 3rem;
    line-height: 3rem;

    .vote-btn{
      margin-top: 3rem;
      a{
        padding: 0.5rem;
        font-size: 2rem;
      }
    }
  }
}


/* Helper classes */

/* Buttons */
.btn{
  border: none;
  border-radius: 3px;
  background: $niceBlueColor;
  font-size: 0.9rem;
  svg{
    margin: 0 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  &:hover{
    background: #2475a5;
  }
}
a.btn, div.btn a, button.btn{
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-gr{
  display: flex;
  justify-content: center;
  .btn{
    border-radius: 0;
  }
  &.-full{
    .btn{
      flex: 1 1 auto;
    }
  }
  &.-right{
    justify-content: flex-end;
  }
  &.-left{
    justify-content: flex-start;
  }
}

/* Cards */
a.card{
  display: block;
  text-decoration: none;
  color: inherit;
}
.card{
  position: relative;
  padding-bottom: 0.5rem;
  //min-height: 140px;

  & >*{
    padding: 0.5rem 1rem;
  }
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.2);
  background: white;

  header{
    background: $niceBlueColor;
    color: white;
    display: flex;
    align-items: center;

    & >*{
      margin: 0;
      padding: 0;
    }
  }

  svg{
    display: block;
    position: relative;
    color: white;
    float: left;
    margin-right: 1rem;
  }
  .btn{
    float: right;
  }
}


.hidden{display: none;}
.link{
  text-decoration: none;
}
.flex{
  display: flex;
}

.flex-center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-vh{
  width: 100%;
  height: 100%;
}

.full-screen{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}